{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<div class="container">
  <div class="row text-center">
    <div class="col-md">
      <div class="container-fluid login_form">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}}" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <a id="login" href="{{ url_for('login') }}">Have an account? Click here to login!</a>
        <hr>
        <h3 class="text-left">Register</h3>
        <form action="{{ url_for('register') }}" method="POST">
          {{ form.hidden_tag() }}
          {{ wtf.form_field(form.name) }}
          {{ wtf.form_field(form.surname) }}
          {{ wtf.form_field(form.email) }}
          {{ wtf.form_field(form.address) }}
          {{ wtf.form_field(form.postcode) }}
          {{ wtf.form_field(form.password) }}
          {{ wtf.form_field(form.password2) }}
          <input type="submit" class="btn btn-success btn-md" value="Register">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
  $(function() {
    $('#login').attr('href', '{{ url_for("login") }}' + window.location.search);
    $('#register_email').attr('onkeyup', 'c()');
  });
  function c(){
    var a, s, re, r;
    s = $('#register_email');
    a = s.val();
    re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    if (re.test(String(a).toLowerCase())){
      $.ajax({
        url: '{{ url_for("api_email") }}',
        data: {'e':a},
        method: 'POST',
        success: function(r){ 
          r = JSON.parse(r);
          if(r.valid){
            s.removeClass('border-danger');
            s.addClass('border-success');
          }else{
            s.removeClass('border-success');
            s.addClass('border-danger');
          }
        },
        error: function(error){console.log(error);}
      });
    }
  }
</script>
{% endblock %}