{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<div class="container" style="padding: 50px 0; width: 85%;">
  <div class="row" style="padding: 0;">
   <form action="{{ url_for('reset_password', recover_token=token) }}" method="POST">
          {{ form.hidden_tag() }}
          {{ wtf.form_field(form.password) }}
          {{ wtf.form_field(form.password2) }}
          <small id='small1' style="display: none; color: red;"></small><br>
          <input type="submit" class="btn btn-success btn-md" value="Reset">
        </form>
  </div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
  var a = $('#p1');
  var b = $('#p2');
  var c = $('#small1');
  b.keyup(function(d){
    if (b.val() != a.val()){
      b.addClass('border-danger');
      c.text('The passwords do not match!')
      c.show();
    }else{
      b.removeClass('border-danger');
      c.hide();
    }
  });
</script>
{% endblock %}